html {font-size: 100%;} /*16px*/

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #333;
  height: 100vh;
  margin: 0 auto;
}

p {margin-bottom: 1.15rem;}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 4.209em;
}

h2 {font-size: 3.157em;}

h3 {font-size: 2.369em;}

h4 {font-size: 1.777em;}

h5 {font-size: 1.333em;}

small, .text_small {font-size: 0.75em;}

code {
  font-family: monospace;
}

#background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
}

/* #background.sn {
  background-color: #F4F7F7;
}
#background.sl {
  background-color: #E3F6F3;
}
#background.h {
  background-color: #FAF0FE;
}
#background.t {
  background-color: #FFE9EF;
}
#background.hr {
  background-color: #A7DBD8;
}
#background.lr {
  background-color: #69D2E7;
}
#background.s {
  background-color: #50C8C6;
}
#background.hc {
  background-color: #3FB8AF;
}
#background.lc {
  background-color: #EBF2F2;
}
#background.c {
  background-color: #F2F2F2;
} */